<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8" />

<% if( config.meta ) { %>
    <% if( config.meta.title ) { %>
        <title><%= config.meta.title %></title>
    <% } %>
    <% if( config.meta.description ) { %>
        <meta name="description" content="<%= config.meta.description %>" />
    <% } %>
    <% if( config.meta.keywords ) { %>
        <meta name="keywords" content="<%= config.meta.keywords %>" />
    <% } %>
<% } %>

<link rel="stylesheet" type="text/css" href="assets/css/layout.css" />
<script src="assets/js/header.js"></script>

</head>
<body>

<h1>config.json</h1>
<pre><code><%= JSON.stringify(config, null, "\t") %></code></pre>

<script src="assets/js/layout.js"></script>

</body>
</html>